@{
    ViewData["Title"] = "Отчеты";
}

<div class="text-center text-info">
    <h1>Отчеты</h1>
</div>
<hr />
<p> <strong> <a class="btn btn-info btn-sm" href="/Report/Chart">Диаграмма стоимость заключенных договоров по библиотекарям</a></strong></p>
<hr />
<p> <strong> <a class="btn btn-info btn-sm" href="/Report/DistributionSalary">Распределение зарплаты библиотекарей по месяцам</a></strong></p>
<hr />
