
@{
    ViewData["Title"] = "Отчеты";
}

<div class="text-center text-info">
    <h1>Отчеты</h1>
</div>
<hr />
<p> <strong> <a class="btn btn-info btn-sm" href="/Reports/Charts">Диаграмма выданных книг по жанрам</a></strong></p>
<hr />
<hr />
<p> <strong> <a class="btn btn-info btn-sm" href="/Reports/DateReport">Стоимость по датам</a></strong></p>
<hr />
<hr />
<p> <strong> <a class="btn btn-info btn-sm" href="/Reports/SumByMonths">Количество выданных книг по читателям и месяцам года</a></strong></p>
<hr />


